@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content .textBox {
    position: relative;
    width: 3000px;
}

.content .textBox h1 {
    color: rgb(86, 74, 11);
    line-height: 1.5em;
    padding-bottom: 1em;
}

.content .textBox h3 {
    color: rgb(86, 74, 11);
    line-height: 1.5em;
    padding-bottom: 1em;
}

.content .textBox h5 {
    color: rgb(86, 74, 11);
    line-height: 1.5em;
    padding-bottom: 1em;
}

.content .textBox #map {
    border:10px solid #564a0b; 
    border-radius: 20px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 250, 180);
    clip-path: circle(600px at right 700px);
}